* body, div#root{ 
    width : 100vw;
    height : 100vh;

    #display-canvas-3Dverse, #UI {
        width : 100vw;
        height : 100vh;
        position: absolute;
        top: 0px;
    }

    .nipple 
    {
        .back
        {
            background : gray !important;
        }
        .front
        {
            background : black !important;
        }
    }

    #virtual-joystick-height-right, #virtual-joystick-height-left
    {
        display: none ;
    }

    .blocNoteReact 
    {
        top: 0;
        right: 0;
    }

    .bluringOn
    {
        display: none;
    }
}
