* body { 
    #display-canvas-3Dverse, #UI {
        width : 1920px;
        height : 1080px;
        position: absolute;
        z-index: 999;
        top: 0px;
    }

    .nipple 
    {
        .back
        {
            background : gray !important;
        }
        .front
        {
            background : black !important;
        }
    }
}