div.blocNoteButton {
    position: absolute;
    top : 3vh;
    right : 3vw;

    i.fa-regular.fa-clipboard
    {
        font-size: 6vw;
    }
}

i.fa-solid.fa-x
{
    position: absolute;
    top : 3vh;
    right : 3vw;
    font-size: 6vw;
}

div.information
{
    display : flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    top: 0px;
    position: absolute;

    form
    {
        background-color: gray;
        display : flex;
        flex-direction: column;

        textarea {
            width: 75vw;
            min-height: 50vh;
            max-height: 95vh;
            font-size: 25px;
            resize: none;
        }
    }
}
