div.loadingBar {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;

    &.hidden {
        opacity: 0;
        transition: 2s;

        > img.loadingBar {
            transform: translate(-50%, 0%) scale(0.25);
            transition: 2s;
        }
    }

    img.loadingBar {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        height: 500px;
        animation: rotate 2s linear infinite;
        z-index: 100;
    }
}